## IIC2154 - Álvaro Quintana - Evaluacion Diagnóstico

Cargamos librerías y dataset

In [1]:
import pandas as pd
import warnings
import datetime
from IPython import display
from pandas.io.json import json_normalize

raw_tweets = pd.read_json(r'./farmers-protest-tweets-2021-03-5.json', lines=True)
raw_tweets = raw_tweets[raw_tweets['lang']=='en']

Definimos las funciones pedidas:

Top 10 tweets más retweeted

In [2]:
def top_retweeted(tweets):
    return tweets.sort_values(['retweetCount'], ascending = False).head(10)

Top 10 usuarios en función de la cantidad de tweets que emitieron

In [3]:
def top_users(tweets):
    users_count = {}
    user_dict = {}
    for user in tweets.user:
        try:
            users_count[user['id']] += 1
        except:
            users_count[user['id']] = 1
            user_dict[user['id']] = user
    top_10 = sorted(user_dict.keys(), key =  lambda x: users_count[x], reverse = True)[:10]
    top_10_count = sorted(users_count.values(), reverse = True)[:10]
    df_top_users = pd.DataFrame({'user':[user_dict[key] for key in top_10], 'count':top_10_count})
    return df_top_users

Top 10 días donde hay más tweets

In [4]:
def top_days(tweets):
    days_count = {}
    for date in tweets.date:
        date = date.strftime('%Y-%m-%d')
        try:
            days_count[date] += 1
        except:
            days_count[date] = 1
    top_10 = sorted(days_count.keys(), key =  lambda x: days_count[x], reverse = True)[:10]
    top_10_count = sorted(days_count.values(), reverse = True)[:10]
    df_top_days = pd.DataFrame({'dia': top_10, 'count':top_10_count})
    return df_top_days

Top 10 hashtags más usados

In [5]:
import re

def top_hashtags(tweets):
    hashtags_counts = {}
    for content in tweets.content:
        hashtags = list(set(re.findall(r"#\w*", content)))
        for hashtag in hashtags:
            try:
                hashtags_counts[hashtag] += 1
            except:
                hashtags_counts[hashtag] = 1
                
    top_10 = sorted(hashtags_counts.keys(), key =  lambda x: hashtags_counts[x], reverse = True)[:10]
    top_10_count = sorted(hashtags_counts.values(), reverse = True)[:10]
    df_top_days = pd.DataFrame({'hashtag': top_10, 'count':top_10_count})
    return df_top_days

Definimos la función ```main(f1, f2, f3, f4)``` donde ```f_i``` es un bool que indica si se quiere llamar a la función respectiva siguiendo el orden del enunciado.

In [6]:
def main(f1 = False, f2 = False, f3 = False, f4 = False):
    if f1:
        print('Top tweets retweeted')
        display.display(top_retweeted(raw_tweets))
    if f2:
        print('\n\n\nTop Usuarios por cantidad de tweets')
        display.display(top_users(raw_tweets))
    if f3:
        print('\n\n\nTop Días por cantidad de tweets')
        display.display(top_days(raw_tweets))
    if f4:
        print('\n\n\nTop Hashtags')
        display.display(top_hashtags(raw_tweets))

In [7]:
main(True, True, True, True)

Top tweets retweeted

,url,date,content,renderedContent,id,user,outlinks,tcooutlinks,replyCount,retweetCount,...,quoteCount,conversationId,lang,source,sourceUrl,sourceLabel,media,retweetedTweet,quotedTweet,mentionedUsers
408128,https://twitter.com/rihanna/status/13566258896...,2021-02-02 15:29:51+00:00,why aren’t we talking about this?! #FarmersPro...,why aren’t we talking about this?! #FarmersPro...,1356625889602199552,"{'username': 'rihanna', 'displayname': 'Rihann...",[https://www.cnn.com/2021/02/01/asia/india-int...,[https://t.co/obmIlXhK9S],163065,315547,...,45832,1356625889602199552,en,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,None,NaN,None,None
395142,https://twitter.com/GretaThunberg/status/13566...,2021-02-02 20:04:01+00:00,We stand in solidarity with the #FarmersProtes...,We stand in solidarity with the #FarmersProtes...,1356694884615340037,"{'username': 'GretaThunberg', 'displayname': '...",[https://www.cnn.com/2021/02/01/asia/india-int...,[https://t.co/tqvR0oHgo0],49793,103957,...,13815,1356694884615340037,en,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,None,NaN,None,None
266196,https://twitter.com/GretaThunberg/status/13572...,2021-02-04 10:59:01+00:00,I still #StandWithFarmers and support their pe...,I still #StandWithFarmers and support their pe...,1357282507616645122,"{'username': 'GretaThunberg', 'displayname': '...",[],[],39596,67694,...,10587,1357282507616645122,en,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,None,NaN,None,None
366579,https://twitter.com/miakhalifa/status/13568483...,2021-02-03 06:14:01+00:00,"“Paid actors,” huh? Quite the casting director...","“Paid actors,” huh? Quite the casting director...",1356848397899112448,"{'username': 'miakhalifa', 'displayname': 'Mia...",[],[],15569,35921,...,5681,1356848397899112448,en,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,[{'previewUrl': 'https://pbs.twimg.com/media/E...,NaN,None,None
372793,https://twitter.com/miakhalifa/status/13568277...,2021-02-03 04:51:48+00:00,What in the human rights violations is going o...,What in the human rights violations is going o...,1356827705161879553,"{'username': 'miakhalifa', 'displayname': 'Mia...",[],[],9082,26972,...,4606,1356827705161879553,en,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,[{'previewUrl': 'https://pbs.twimg.com/media/E...,NaN,None,None
314192,https://twitter.com/TeamJuJu/status/1357048037...,2021-02-03 19:27:19+00:00,"Happy to share that I’ve donated $10,000 to pr...","Happy to share that I’ve donated $10,000 to pr...",1357048037302960129,"{'username': 'TeamJuJu', 'displayname': 'JuJu ...",[https://www.usnews.com/news/world/articles/20...,[https://t.co/0WoEw0l3ij],7683,23251,...,4082,1357048037302960129,en,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,None,NaN,None,None
215034,https://twitter.com/BobBlackman/status/1357755...,2021-02-05 18:19:19+00:00,There has been much social media coverage arou...,There has been much social media coverage arou...,1357755699162398720,"{'username': 'BobBlackman', 'displayname': 'Bo...",[],[],1845,20132,...,1592,1357755699162398720,en,"<a href=""https://mobile.twitter.com"" rel=""nofo...",https://mobile.twitter.com,Twitter Web App,[{'previewUrl': 'https://pbs.twimg.com/media/E...,NaN,None,None
398011,https://twitter.com/vanessa_vash/status/135668...,2021-02-02 19:09:23+00:00,Farmers feed the world. Fight for them. Protec...,Farmers feed the world. Fight for them. Protec...,1356681136655769605,"{'username': 'vanessa_vash', 'displayname': 'V...",[],[],1301,18744,...,820,1356681136655769605,en,"<a href=""http://twitter.com/download/android"" ...",http://twitter.com/download/android,Twitter for Android,None,NaN,None,None
325261,https://twitter.com/kylekuzma/status/135700972...,2021-02-03 16:55:04+00:00,Should be talking about this! #FarmersProtest\...,Should be talking about this! #FarmersProtest\...,1357009721090138112,"{'username': 'kylekuzma', 'displayname': 'kuz'...",[https://www.cnn.com/2021/02/01/asia/india-int...,[https://t.co/Xh09iTvVoF],4167,17368,...,2505,1357009721090138112,en,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,None,NaN,None,None
163689,https://twitter.com/AmandaCerny/status/1359013...,2021-02-09 05:36:49+00:00,To all of my influencer/celeb friends- read up...,To all of my influencer/celeb friends- read up...,1359013362881994752,"{'username': 'AmandaCerny', 'displayname': 'Am...",[],[],2028,15677,...,813,1359013362881994752,en,"<a href=""http://twitter.com/download/iphone"" r...",http://twitter.com/download/iphone,Twitter for iPhone,None,NaN,None,None

Top Usuarios por cantidad de tweets

                                                user  count
0  {'username': 'harjot_tweeting', 'displayname':...   7134
1  {'username': 'tasveersandhu', 'displayname': '...   2088
2  {'username': 'shells_n_petals', 'displayname':...   1991
3  {'username': 'jot__b', 'displayname': 'Jot', '...   1841
4  {'username': 'rebelpacifist', 'displayname': '...   1803
5  {'username': 'rumsomal', 'displayname': '🍊rama...   1722
6  {'username': 'Iamjazzie96', 'displayname': 'Ja...   1491
7  {'username': 'Jass_k_G', 'displayname': 'JassG...   1458
8  {'username': 'DigitalKisanBot', 'displayname':...   1453
9  {'username': 'z_khalique007', 'displayname': '...   1446

Top Días por cantidad de tweets

          dia  count
0  2021-02-03  83403
1  2021-02-04  58300
2  2021-02-05  33165
3  2021-02-02  28440
4  2021-02-06  22298
5  2021-02-07  11244
6  2021-02-09   9269
7  2021-02-08   8863
8  2021-02-10   7938
9  2021-02-11   5668

Top Hashtags

                     hashtag   count
0            #FarmersProtest  398473
1         #IStandWithFarmers   15678
2            #farmersprotest   15314
3  #IndianFarmersHumanRights   11774
4           #FarmersAreIndia   10889
5          #StandWithFarmers   10547
6                   #Rihanna    8994
7           #FarmersProtests    8671
8                   #Farmers    6393
9          #shameonbollywood    6118